.body{
    padding: 0;
    margin: 0;
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    background-color: hsl(220, 15%, 55);
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center; /* This will center the content horizontally */
    justify-content: center; /* This will center the content vertically */
    height: 100%; /* This makes sure the container takes the full height of the viewport */
    text-align: center; /* This centers the text */
    width: 80%; /* You can adjust this as needed */
    max-width: 600px; /* This prevents the div from becoming too wide on large screens */
    margin: 0 auto; /* This will horizontally center the .container div on the page */
    border-radius: 20px; /* This provides the border radius */
    overflow: hidden; /* This ensures that the content inside doesn't spill outside the border-radius */
    background-color: #fff; /* This sets a background color for the container. Adjust as desired. */
    padding: 40px; /* Adds some space inside the div */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow for depth */
}

img {
    max-width: 100%; /* This ensures the image doesn't overflow the container */
    height: auto; /* This maintains the image's aspect ratio */
    margin-bottom: 20px; /* Adds some space below the image */
}
h1, h3 {
    margin: 10px 0; /* This adds some spacing around your headings */
}
h3 {
    color: gray;
    font-size: 15px;
}



/* Mobile responsiveness starts here */
@media only screen and (max-width: 375px) {

    .container {
        width: 90%; /* Increase width on smaller devices for better use of space */
        padding: 20px; /* Reduce padding on smaller devices */
    }

    img {
        width: 70%; /* Reduce image size on smaller screens */
        margin-bottom: 15px; /* Adjust space below image */
    }

    h1 {
        font-size: 24px; /* Reduce the font size */
        margin: 8px 0;
    }

    h3 {
        font-size: 13px; /* Reduce the font size slightly */
        margin: 8px 0;
    }

    .attribution {
        font-size: 9px; /* Reduce the font size of the attribution on smaller screens */
    }
}
